@{
    var action = ViewContext.Controller.ValueProvider.GetValue("action").RawValue.ToString().ToLower();
}
<br />
<ul class="nav nav-pills">
    <li @if (action == "fixtures")
            {<text> class="active"</text>}><a href="/fixtures/@ViewBag.Id">Fixtures</a> </li>
    <li @if (action == "ladder")
            {<text> class="active"</text>}><a href="/ladder/@ViewBag.Id">Ladder</a> </li>
    <li @if (action == "statistics")
        {<text> class="active"</text>}><a href="/statistics/@ViewBag.Id">Statistics</a> </li>
    <li @if (action == "vs")
            {<text> class="active"</text>}><a href="/vs/@ViewBag.Id">Comparison</a> </li>
    <li @if (action == "overview")
            {<text> class="active"</text>}><a href="/overview/@ViewBag.Id">Overview</a> </li>
</ul>