@model IEnumerable<GoodM8s.Basketball.ViewModels.SummaryViewModel>
@{
    var index = 0;
}
<div class="goodm8s-basketball">
    @foreach (var summary in @Model)
    {
        index++;
    
        @Html.Partial("SummaryViewModel", summary)

        if (index < Model.Count())
        {
        <hr />
        }
    }
</div>
